@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.App {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 185, 124);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  width: 700px;
  border-radius: 15px 15px 0 0;
  border-bottom-style: double;
  border-bottom-width: 13px;
  border-color: black;
  background-color: #01579b;
}

.forecast {
  width: 700px;
  height: 50vh;
  border-radius: 0 0 15px 15px;
  background-color: #01579b;
  overflow-x: scroll;
  overflow-y: scroll;
}

.top {
  height: 60px;
  background-color: #424242;
  color: whitesmoke;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  font-family: 'Recursive', sans-serif;
  display: flex;
  justify-content: space-between;
}

.forecasttop {
  height: 60px;
  background-color: transparent;
  color: whitesmoke;
  padding: 10px;
  font-family: 'Recursive', sans-serif;
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: #424242;
  color: whitesmoke;
  padding: 10px;
  font-size: 28px;
  border-radius: 15px;
  font-family: 'Recursive', sans-serif;
}

.button{
  width: 35px;
  height: 35px;
}

.linkButton{
  width: 8vw;
}

.day {
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.foreday {
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.temp {
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 18px;
}

.foretemp {
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 16px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.sunrise-sunset{
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 16px;
}

.description{
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
